.visibility-hidden {
	display: inline-block;

	position: absolute;
	top: 0;
	left: 0;

	width: 1px;
	height: 1px;

	overflow: hidden;

	clip: rect(0, 0, 0, 0);
}
*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	padding: 0;
	margin: 0;

	width: 100%;
  min-height: 100vh;

	background-image: linear-gradient(135deg, #e233ff, #ff6800);
	background-repeat: no-repeat;
}

#root {
	height: 100%;
}
